
{% extends "./base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
        <!-- Reset Password  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'loginsignup/images/signin-image.jpg' %}" alt="sing up image"></figure>
                        <h4><a href="{% url 'loginsignapp:login' %}">Back to Login</a></h4>
                    </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

