{% extends "./base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'loginsignup/images/signin-image.jpg' %}" alt="sing up image"></figure>
                         <a href="{% url 'loginsignapp:signup' %}" class="signup-image-link">Not a member Yet?</a> OR
                         <a href="{% url 'password_resetapp:password_reset' %}" class="signup-image-link">Forgot Password?</a>
                    </div>
                    <div class="signin-form">
                        {% for message in messages %}
                        <div class="alert alert-success" style="color:red" role="alert">
                          {{ message }}
                        </div>
                        {% endfor %}
                        <h2 class="form-title">Sign in</h2>
                        <form method="POST" class="register-form" id="login-form">
                                {% csrf_token %}
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                 {% render_field login_form.username class+="form-control myCSSclass" placeholder="Your Username" %}

                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                 {% render_field login_form.password class+="form-control myCSSclass" placeholder="Your Password" %}
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
