{% extends "./base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
{% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                 {% render_field form.username class+="form-control myCSSclass" placeholder="Your Username" %}
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                 {% render_field form.first_name class+="form-control myCSSclass" placeholder="Your First Name" %}
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                 {% render_field form.last_name class+="form-control myCSSclass" placeholder="Your Last Name" %}
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                {% render_field form.email class+="form-control myCSSclass" placeholder="Your Email" %}
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-city"></i></label>
                                 {% render_field form.last_name class+="form-control myCSSclass" placeholder="Your City" %}
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                 {% render_field form.password1 class+="form-control myCSSclass" placeholder="Your Password" %}
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                {% render_field form.password2 class+="form-control myCSSclass" placeholder="Input your Password Again" %}
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                   <div >
                       {{ register_form.errors }}
                   </div>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'loginsignup/images/signup-image.jpg' %}" alt="sing up image"></figure>

                        <a href="{% url 'loginsignapp:login' %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
